@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    --main-color: #9E7CC1;
    --primary-color: #181f2c;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
    /* --link-hover: #79589F; */
    --link-hover: #334155;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #374151;
    padding: 0;
    margin: 0;
}

::selection {
    color: #FFF;
    background-color: #9E7CC1;
}

.btn-load-more {
    cursor: pointer;
}

.btn-load-less {
    display: none;
    cursor: pointer;
}

.show-less-fles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.load-more-proj {
    display: none;
}

.react-banner {
    width: 100%;
    /* height: 100vh; */
}

.home-header {
    height: calc(100vh - 10rem);
}

.scroll {
    margin: auto;
    margin-bottom: 1rem;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
    animation: up-down infinite 1s;
}

.scroll:hover {
    opacity: 0.8;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

main {
    /* margin-top: 1rem; */
    margin-bottom: 5rem;
}

hr {
    margin: 2rem 0rem;
}

.list-non-bullet .div-margin {
    margin-bottom: 1.3rem;
}

.btns-proj {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    width: 100%;
}

.contribute {
    color: rgb(100, 116, 139, 0.7);
    font-size: 0.8rem;
}

.proj-text {
    margin-top: 3rem;
}

.hero-sl {
    margin: 0 !important;
    padding: 0 !important;
    gap: 1rem !important;
}

.proj-info {
    color: rgb(55, 65, 81, 0.9);
    font-size: 0.9rem;
}

.btn-sec {
    transition: all 0.15s ease-in-out;
}

.btn-sec:hover {
    background-color: var(--primary-color);
    color: #FFF;
}

.sec-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-con {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    border: 2px solid #181f2c;
    border-radius: 0.5rem;
    width: 500px;
    max-width: 500px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background-color: #f8fafc;
    transition: all 0.3s ease-in-out;
    margin: 0 1rem;
}

.center-con:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    transform: translateX(10px);
}

.btn-load-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-container {
    padding: 1rem 2rem;
}

/* containers */
.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.container-center {
    max-width: 850px;
    margin: auto;
}

.container-blog {
    max-width: 600px;
    margin: auto;
}

.container-blog-page {
    padding: 1rem 1rem 3rem 1rem;
    max-width: 800px;
    margin: auto;
}

.container-blog-page p {
    color: #374151;
}

.container-blog-page>h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.react-blog-img {
    background-color: #374151;
    text-align: center;
    border-radius: 1rem;
    margin-top: 3rem;
}

/* links */
.Link {
    text-decoration: none;
    padding: 0.5rem;
    padding-inline: 1rem;
    width: fit-content;
}

.flex-links {
    display: flex;
    gap: 1rem;
    padding: 0;
}

.link-hover a:hover {
    background-color: var(--link-hover);
    /* border: 1px solid #2563EB; */
    border-radius: 5rem;
    transition-duration: .2s;
    /* color: var(--primary-color); */
    /* font-weight: bold; */
}

.link-hover-blog a:hover {
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    transition-duration: .2s;
}

.icon-color {
    color: var(--off-white);
}

.link-hover-blog a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5rem;
    color: white;
}

.link-block {
    max-width: 100px;
    display: block;
    margin-top: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 5rem;
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    color: var(--primary-color);
}

.ui-sec {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.scroll-to-top {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    cursor: pointer;
    font-size: 1.5rem;

    width: 50px;
    height: 50px;
    padding: 0.5rem 0.2rem 0.2rem 0.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5rem;
    border: 2px solid white;

    color: #FFF;
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    animation: up 0.4s infinite alternate;
}

@keyframes up {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* list */

.list-non-bullet {
    list-style: none;
}

.icon-hover {
    transition: all 0.15s ease-in-out;
}

.icon-hover:hover {
    transform: translateY(-5px);
}

.list-item-inline {
    display: inline;
}

/* navigation */

/* .nav-fixed {
    overflow:auto;
    background-color: #666666;
    position: fixed;
    top: 0;
    width: 100%;
} */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    height: 60px;

    position: sticky;
    top: 0;

    z-index: 11;
    transition: all 0.3s ease-in-out;
}

.navigation .link-active {
    font-weight: bold;
    background-color: var(--link-hover);
    border-radius: 5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .Link {
    color: white;
}

/* .nav-fixed {
    position: fixed;
    width: 100%;
} */

#nav-width {
    max-width: 1000px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    font-size: 0.8rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-block: 2rem;
}

/* header */

.hero {
    padding: 2rem;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    gap: 1rem;
}

.all-pills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.item-1 {
    display: flex;
    flex: 0.5;
    justify-content: center;
}
.item-2 {
    flex: 0.5;
}

.ii {
    gap: 3rem !important;
}

.reverse-project {
    flex-direction: row-reverse;
}

.ab {
    gap: 2rem;
}

.pills {
    background-color: #374151;
    color: #FFF;
    border-radius: 5rem;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pills:hover {
    background-color: #181f2c;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-block-start: 2rem;
}

.about p {
    font-size: 1.2rem;
    margin-block: 0.5rem;
    /* letter-spacing: 0.1rem; */
    color: #64748b;
}

.hero-svg {
    margin-block: 1rem;
    cursor: pointer;
}

.hero h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.hero h2 {
    text-align: center;
    margin: 0;
    color: #64748b;
}


.hero .hero-img {
    max-width: 80%;
    width: 400px;
    display: block;
    margin: 2rem;
    /* padding-top: 1rem; */
}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 2rem;
    text-align: center;
}

/* .hero .heading-inverted {
    color: var(--primary-color);
} */

/* section */

.section {
    padding: 1rem 1rem 3rem 1rem;
    position: relative;
}

.section-pro {
    padding: 0 1rem 3rem 0;
}

.section h1 {
    text-align: center;
}

.section p {
    margin-bottom: 1rem;
}

.off-white {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    /* border-top-right-radius: 1rem; */
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .Link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .react-blog-img {
        display: none;
    }

    .container-blog-page>h1 {
        font-size: 2rem;
    }
}

.blog-img {
    margin-top: -7rem;
}

@media screen and (max-width: 876px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .info {
        max-width: 600px;
        text-align: center;
        align-items: center;
    }

    .blog-img {
        width: 100%;
        margin-top: -6rem;
    }

    .item-2 {
        margin-top: -3rem;
    }

    .project-img {
        height: 400px;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .about-img {
        width: 100%;
    }

    .all-pills {
        justify-content: center;
    }
}

.menu {
    display: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu:hover {
    opacity: 0.8;
}

.contact-form {
    max-width: 850px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    margin: 2rem auto;
    padding: 2rem 1rem;
    background-color: aliceblue;
    border-radius: 1rem;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.contact-form form {
    max-width: 600px;
    width: 100%;
}

.contact-title {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 0.5rem;

    font-size: 2rem;
}

.section-1 {
    display: flex;
    justify-content: space-between;
}

.c-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
    flex: 0.5;
}

.c-field span {
    padding-left: 1rem;
    font-weight: 600;
}

.c-field input {
    width: -webkit-fill-available;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    border-radius: 5rem;
    border: 2px solid rgb(51, 65, 85, 0.5);

    outline: none;
}

.c-message {
    margin-top: 1rem;
     
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 1rem;
}

.c-message span {
    padding-left: 1rem;
    font-weight: 600;
}

.c-message input {
    width: -webkit-fill-available;
    padding: 0.5rem 1rem;
    font-size: 1rem;

    border-radius: 1rem;
    border: 2px solid rgb(51, 65, 85, 0.5);

    outline: none;
}

.contact-form-submit-btn {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 1rem;
}

.contact-form-submit-btn button{
    border: 2px solid rgb(51, 65, 85, 0.5);
    color: var(--link-hover);
    background-color: transparent;
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    cursor: pointer;
    font-size: 1.1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.contact-form-submit-btn button:hover{
    background-color: var(--primary-color);
    color: #FFF;
}

.f-th {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.thank-you {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 2rem;

   padding: 2rem;
   max-width: 100%;
}

.thank-you div {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(51, 65, 85, 0.6);
}

.thank-you a {
    color: var(--primary-color);
}

#contact {
    height: 100px;
}

@media screen and (max-width: 600px) {
    #contact {
        height: 50px;
    }

    #nav-links {
        display: none;
    }
    
    .menu {
        display: block;
    }

    #nav-links.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: -webkit-fill-available;
        padding: 4rem 1rem;
        height: auto;
        left: 0;
        position: absolute;
        top: 3.5rem;
        margin: 0;
        background-color: #181f2c;
    }

    .hero .hero-img{
        max-width: 100%;
    }

    .scroll-to-top {
        font-size: 1.5rem;
    
        width: 40px;
        height: 40px;
        padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    }

    #nav-width {
        padding-top: 0.5rem;
    }

    .contact-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        /* gap: 0.5rem; */
    
        font-size: 1.5rem;
    }

    .section-1 {
        flex-direction: column;
    }
}
