@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root {
    /* --primary-color: #9E7CC1; */
    --primary-color: #181f2c;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
    /* --link-hover: #79589F; */
    --link-hover: #334155;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #374151;
    padding: 0;
    margin: 0;
}

::selection {
    color: #FFF;
    background-color: rgb(158, 124, 193, 0.7);
}

header {
    height: calc(100vh - 10rem);
}

.scroll {
    margin: auto;
    margin-bottom: 0;

    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.scroll:hover {
    opacity: 0.8;
    animation: up-down infinite 1s;
}

@keyframes up-down {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

main {
    /* margin-top: 1rem; */
    margin-bottom: 5rem;
}

hr {
    margin: 2rem 0rem;
}

.list-non-bullet .div-margin {
    margin-bottom: 1.3rem;
}

.contribute {
    color: rgb(100, 116, 139, 0.7);
    font-size: 0.8rem;
}

.proj-text {
    margin-top: 3rem;
}

.hero-sl {
    margin: 0 !important;
    padding: 0 !important;
    gap: 1rem !important;
}

/* .div-pad {
    padding: 15rem;
} */

/* containers */
.container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.container-center {
    max-width: 850px;
    margin: auto;
}

.container-blog {
    max-width: 600px;
    margin: auto;
}

.container-blog-page {
    padding: 1rem 1rem 3rem 1rem;
    max-width: 800px;
    margin: auto;
}

.container-blog-page>h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.react-blog-img {
    background-color: #374151;
    text-align: center;
    border-radius: 1rem;
    margin-top: 3rem;
}

/* links */
.Link {
    text-decoration: none;
    padding: 0.5rem;
    padding-inline: 1rem;
    width: fit-content;
}

.flex-links {
    display: flex;
    gap: 1rem;
    padding: 0;
}

.link-hover a:hover {
    background-color: var(--link-hover);
    /* border: 1px solid #2563EB; */
    border-radius: 5rem;
    transition-duration: .2s;
    /* color: var(--primary-color); */
    /* font-weight: bold; */
}

.link-hover-blog a:hover {
    background-color: var(--primary-color);
    border-radius: 0.4rem;
    transition-duration: .2s;
}

.icon-color {
    color: var(--off-white);
}

.link-hover-blog a:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 5rem;
    color: white;
}

.link-block {
    max-width: 100px;
    display: block;
    margin-top: 0.5rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 5rem;
    color: white;
}

.link-secondary {
    border: 1px solid var(--primary-color);
    border-radius: 5rem;
    color: var(--primary-color);
}

/* list */

.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
}

/* navigation */

/* .nav-fixed {
    overflow:auto;
    background-color: #666666;
    position: fixed;
    top: 0;
    width: 100%;
} */

.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    height: 60px;
}

.navigation .link-active {
    font-weight: bold;
    background-color: var(--link-hover);
    border-radius: 5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .Link {
    color: white;
}

/* .nav-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
} */

#nav-width {
    max-width: 1000px;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div {
    font-size: 0.8rem;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-block: 2rem;
}

/* header */

.hero {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.all-pills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.item-1 {
    display: flex;
    flex: 0.5;
    justify-content: center;
}
.item-2 {
    flex: 0.5;
}

.ii {
    gap: 3rem !important;
}

.reverse-project {
    flex-direction: row-reverse;
}

.ab {
    gap: 2rem;
}

.pills {
    background-color: #374151;
    color: #FFF;
    border-radius: 5rem;
    padding: 0.3rem 1rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pills:hover {
    background-color: #181f2c;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.about {
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    margin-block-start: 2rem;
}

.about p {
    font-size: 1.2rem;
    margin-block: 0.5rem;
    /* letter-spacing: 0.1rem; */
    color: #64748b;
}

.hero-svg {
    margin-block: 1rem;
    cursor: pointer;
}

.hero h1 {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.hero h2 {
    text-align: center;
    margin: 0;
    color: #64748b;
}


.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
    /* padding-top: 1rem; */
}

.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 2rem;
    text-align: center;
}

/* .hero .heading-inverted {
    color: var(--primary-color);
} */

/* section */

.section {
    padding: 1rem 1rem 3rem 1rem;
    position: relative;
}

.section-pro {
    padding: 0 2rem 3rem 0;
}

.section h1 {
    text-align: center;
}

.section p {
    margin-bottom: 1rem;
}

.off-white {
    background-color: var(--off-white);
}

/* footer */

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    color: white;
    /* border-top-right-radius: 1rem; */
}

.footer ul {
    padding-inline-start: 0px;
}

.footer .Link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 500px) {
    body {
        font-size: 16px;
    }

    .react-blog-img {
        display: none;
    }

    .container-blog-page>h1 {
        font-size: 2rem;
    }
}

.blog-img {
    margin-top: -7rem;
}

@media screen and (max-width: 876px) {
    .about {
        flex-direction: column;
        align-items: center;
    }

    .info {
        max-width: 600px;
        text-align: center;
        align-items: center;
    }

    .blog-img {
        width: 100%;
        margin-top: -6rem;
    }

    .item-2 {
        margin-top: -3rem;
    }

    .project-img {
        height: 400px;
        margin-top: -2rem;
        margin-bottom: 2rem;
    }

    .about-img {
        width: 100%;
    }

    .all-pills {
        justify-content: center;
    }
}

.menu {
    display: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    #nav-links {
        display: none;
    }
    
    .menu {
        display: block;
    }

    #nav-links.open {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;
        width: -webkit-fill-available;
        padding: 5rem 1rem;
        height: auto;
        left: 0;
        position: absolute;
        top: 2rem;
        background-color: #181f2c;
        z-index: 111;
    }
}
